@tailwind base;
@tailwind components;
@tailwind utilities;

:where(body, html) {
  overflow-x: hidden;
 
}

:where(body, html)::-webkit-scrollbar {
  width: 0px;
}

img {
  width: 100%;
  height: 100%;
}

body{
  background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {

  .textColor{
    background: linear-gradient(90deg, #7092D3 0%, #3C424E 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }


  .fontless {
    font-weight: 300 !important;
  }

  .trans {
    transition: 1s ease-in-out;
  }


  .glasser {
    background: rgba(255, 255, 255, 0.034);
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .flex-all {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .BoxShadow{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .flex-bet {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .letter {
    letter-spacing: 1px;
  }

  .borders {
    border: 1px solid red;
  }

  .flex-colm {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .space {
    word-spacing: 5px;
  }

  .shadow {
    filter: drop-shadow(0 0 5px #64dcdd);
  }

  .glass {
    background: rgba(255, 255, 255, 0.8);
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
  }
  .ScrollerColor::-webkit-scrollbar{
    width: 10px;
    border-radius: 5px;
    background-color: #fff;
  }
  .ScrollerColor::-webkit-scrollbar-track{
    width: 10px;
    border-radius: 5px;
    background-color: #fff;
  }
  .Scroller::-webkit-scrollbar-thumb{
    background-color: #000;
    width: 10px;
  }

}
.bottom-liner{
  padding: 14px;
  border-bottom: 2px solid #3560B3;
}

.fonter{
  font-size: clamp(25px,4vw,60px);
}
.fonterh{
  font-size: clamp(25px,4vw,35px);
}

.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 3px 36px;
  margin-top: 10px;
  border: 4px solid;
  margin-left: 0;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #3560B3;
  box-shadow: 0 0 0 2px #3560B3;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #3560B3;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #3560B3;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
  color: white;
}

.animated-button:hover svg {
  fill: #fff;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #3560B3;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 20s linear infinite;
}
